<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular Application</title>
</head>
<body>

    <div ng-app="app">
        <div ng-controller="VoteController as vm">
            You have {{ vm.votes }} votes!

            <button ng-click='vm.status === true ? vm.incrementVotes() : vm.decrementVotes(); vm.toggleIncrement(vm.status)'>Add Votes</button>
            <button ng-click='vm.clicked === false ? vm.decrementVotes() : vm.incrementVotes(); vm.toggleDecrement(vm.clicked)'>Remove a vote</button>
        </div>
    </div>

    <script src="js/angular.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/controllers/VoteController.js"></script>

</body>
</html>
